body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: #666666;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  color: #e5e5e5;
}

#footer h5 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

#footer a {
  color: #cccccc;
}

.img-logo {
  max-width: 100%;
}

.padding-spacing {
  padding-top: 50px;
}

.margin-spacing {
  margin-top: 60px;
}

.min-margin-spacing {
  margin-top: 8px;
}

/* Cards */
.card {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 30px 20px 30px 20px;
  margin-bottom: 1.6%;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.33);
  -moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.33);
  box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.33);
  margin-bottom: 30px;
}

/* Titles */
.main-title {
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
}

.main-title h1 {
  color: #666666;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
}

.main-title h2 {
  color: #666666;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
}

.card p {
  color: #8a8a8a;
  font-size: 13px;
  font-weight: 400;
}

/* Mobile fixes for footer */
@media (max-width: 1200px) {
  #tomaz {
  margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .min-margin-spacing {
  margin-top: 20px;
  margin-left: 15px;
  }

  .margin-spacing {
  margin-top: 20px;
  }
}